{
  "parser": "babel-eslint",  
  "extends": [
    "airbnb",
    "prettier",
    "flowtype"    
  ],
  "plugins": [
    "jsx-a11y",
    "import"    
  ],
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}